<div class="card mt-5">
    <div class="mx-auto">
        <img class="card-img-top" [src]="book.volumeInfo.imageLinks.thumbnail" alt="{{book.volumeInfo.title}}">
        <div class="card-body">
            <h5 class="card-title">{{book.volumeInfo.title |  limitTo: '40'}}</h5>
            <p *ngIf="book.saleInfo && book.saleInfo.retailPrice">Price : {{book.saleInfo.retailPrice.amount}}</p>
            <a href="{{book.saleInfo.buyLink}}" target="_blank" class="btn btn-info">Buy Now</a>
        </div>
        <div class="card-footer" (click)="viewDetails(bookDetails)">
            View Details
        </div>
    </div>
</div>
<ng-template #bookDetails>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{book.volumeInfo.title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div style="display: flex; justify-content: space-between;">
            <h5>{{book.volumeInfo.subtitle}}</h5>
            <div class="stars-outer">
                <div class="stars-inner" [ngStyle]="{'width':stars}"></div>
            </div>
        </div>
        <div>
            <p>Authors:
                <b>{{book.authors}}</b>
            </p>
            <p>Pages: {{book.volumeInfo.pageCount}}</p>
            <p>Publisher: {{book.volumeInfo.publisher}}</p>
        </div>
        <p>Published Date: {{book.volumeInfo.publishedDate | date:'mediumDate'}}</p>
        <p>{{book.volumeInfo.description}}</p>
        <a href="{{book.saleInfo.buyLink}}" target="_blank" class="btn btn-info">Buy Now</a>
    </div>
</ng-template>